PORT=3000
NODE_ENV=production
COOKIE_SECURE=1
SITE_ORIGIN=https://mrowki-coloring.pl,http://localhost:8081

TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
GOOGLE_MAPS_API_KEY=

COMPANY_PHONE=+48 794 149 921
COMPANY_EMAIL=kontakt@mrowki-coloring.pl
